.blogs {
  margin-bottom: 2rem;

  .blog-container, .current-blog {
    width: 60%;
  }
}

.card-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.clicker {
  cursor: pointer;
}

.card{
  background-color: $other-black;
  padding: $base-padding;
  border-radius: $base-border-radius;
  color: $secondary-color;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 3rem;
  position: relative;

  .blog {
    gap: 1rem;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
    

    h3 {
      font-size: $font-size-lrg;
    }

    p {
      color: $secondary-color;
    }

    a {
      background: linear-gradient(to right, #833ab4, #fd1d1d);
      padding-inline: 2rem;
      padding-block: 0.5rem;
      border-radius: $base-border-radius;
    }
  }

  .likes {
    align-items: center;
    justify-content: center;
    width: 15%;

    .likes-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: $secondary-color;
    }

    p {
      font-size: 2rem;
    }

    button {
      background-color: transparent;
      font-size: 2rem;
    }

    .up {
      color: #fd1d1d;
      z-index: 9999;
    }

    .down {
      color: #833ab4;
    }
  }
    .user {
      position: absolute;
      bottom: 10px;
      right: 10px;
      font-size: 0.8rem;
    }
  
}
.current-blog {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;


  .back {
    font-size: 1.1rem;
    color: $secondary-color;
    margin-bottom: 2rem;
    text-decoration: underline;
  }

}

.current-blog-container {
  width: 100%;
  margin: auto;
  background-color: $other-black;
  border-radius: $base-border-radius;
  display: flex;
  justify-content: space-between;
  position: relative;
  
  .card-container {
    flex: 1;
  }

  .card-buttons {
    justify-content: flex-end;
    align-items: flex-end;

    .delete {
      @include delete-button;
      position: absolute;
      top: 5px;
      right: 5px;
    }
  }

}
